@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Marck+Script&display=swap');
*{
  font-family: 'Lora', serif;
  color: white;
  font-size: 11pt;
}
body{
  background-image: url("/images/home-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.center-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay , .overlay-white{
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.overlay-white{
  background-color: rgba(255,255,255,0.65);
}

/* Nav  */
nav{
  height: 10vh;
}
.nav-logo{
  width: 30px;
}

nav{
  width: 100vw;
  position: absolute;
}

.navbar-body{
  background-color: rgba(0, 0, 0, 0.70);
  color: white;
}
.nav-link{
  color: white ;
  margin-left: 50px;
}
.nav-link:hover , .active{
  color: white;
  font-weight: bold;
}
#navbarNavDropdown{
 display: flex;
 justify-content: end;
}
/* nav */

/* hero */
.hero{
  height: 80vh;
  padding: 200px
}
#hero-msg{
  font-family: 'Dancing Script', cursive; 
  font-size: 48pt;
  text-align: center;

  text-shadow: 3px 0px 7px rgba(255,255,0.5), 
	  -3px 0px 7px rgba(255,255,0.5), 
	  0px 4px 7px rgba(255,255,0.5);
}
#menu{
  font-size: 24pt;
  color: green;
  text-decoration: underline;
}
#menu:hover{
  font-weight: bold;
}
/* hero */

/* footer */

footer{
  width: 100vw;
  padding-top: 5vh;
  height: 10vh;
}
.footer-icon{
  width: 10px;
}
.footer-contact{
  font-size: 10pt;
  display: inline;
  color: gray;
}
.footer-contact-container{
  display: flex;
  justify-content: space-around;
}

/* About page start */
#about{
  background-image: url("/images/About-us-bg.jpg");
  font-size: 10pt;
}

  /* about-info */
  .about-info{
    height:80vh;
  }

  .about-info>h1{
    padding-top: 20px;
    color: black;
    text-align: center;
  }
  .subsection{
    padding: 15px 40px;
  }
  .subsection > p ,h2{
    color: black;
  }

  h2{
    font-size: 16pt;
  }
  .subsection:nth-child(even){
    text-align: right;
  }

  /* about page end */

/* Contact us page start */

  #contact{
    background-image: url("/images/contact-us-bg.jpg");
  }

  .contact-info{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-card-container{
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    width: 60vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    align-items: center;
  }
  .card-info{
    list-style: none;
    color: black;
    font-size: 11pt;
    padding: 20px;
  }
  #contact-img{
    width: 300px;
  }

  #left-design{
    position:absolute;
    top: 0;
    left: 0;
    width: 150px;
  }
  #right-design{
    position:absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    width: 150px;
  }
/* Contact us page end */

/* Menu page */
#menu-body{
  background-image: none;
  color: black;
}
.navbar-body{
  background-color: black;
}
.menu{
  position: relative;
  width: 100vw;
  height: 90vh;
}
.menu > #right-design{
  position: fixed;
}

#right-design-top{
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
  width: 150px;
}
#left-design-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  transform: rotate(270deg);
  width: 150px;
}
.menu>h1{
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.menu-link-container{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.menu-link-container > ul{ 
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.menu-links{
  color: black;
  text-decoration: none;

}

section{
  display: flex;
}

article{
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.menu-images{
  width: 250px;
  height: 300px;
  margin-bottom: 10px;
}
h3{
  color: black;
  font-weight: lighter;
  font-size: 13pt;
}

article>p{
  color: black;
  font-size: 10pt;
}
.script{
  font-family: 'Dancing Script', cursive; 
}

.menu-heading{
text-align: center;
}